{% extends 'base.html' %}
{% load static %}

{% block body %}
{% if profile.profile_pic %}
    <img src="{{ profile.profile_pic.url }}" alt="" class="img-rounded" height="50" width="50">
{% endif %}
<br>
{{ profile.person }}
{{ profile.tag }}<a href="{% url 'user:edit_profile' %}">edit profile</a>

{% if not profile.person == request.user %}
<a href="{{ profile.follow }}">FOLLOW</a>
{% endif %}

{{ profile.bio }}

<br>
following-{{ profile.following.count }}followers-{{ profile.followers.count }}
<br>
<a href="{% url 'user:logout' %}">LOGOUT...</a>

{% endblock body %}