{% extends 'base.html' %}
{% load static %}

{% block body %}

<br><br>
<div class="container" >
<div class="profile">
    {% if profile.profile_pic %}
        <img src="{{ profile.profile_pic.url }}" alt="" class="img-rounded">
    {% endif %}
    <div class="user">
    <h3>{{ profile.person }}</h3>
    {% if profile.tag %}(@{{ profile.tag }}){% endif %}




    {% if profile.person == request.user %}
    <a href="{% url 'user:edit_profile' %}">edit profile</a>
        {% else %}
        {% if request.user in profile.followers %}
            <h5>YOU FOLLOW THIS PERSON</h5>
        {% else %}
            <a href="{{ profile.follow }}">FOLLOW</a>
        {% endif %}
    {% endif %}
    <br>
        <h4>{{ profile.bio }}</h4>

    <br>
    following-{{ profile.following.count }}followers-{{ profile.followers.count }}
    <br>
    </div>
</div>
    {% if profile.person == request.user %}
    <a href="{% url 'user:logout' %}">LOGOUT...</a>
    {% endif %}

</div>
{% endblock body %}