{% extends 'base.html' %}
{% load static %}

{% block title %}ADD NEW COMMENT{% endblock title %}

{% block body %}
<br>
RETWEETING TO <em>"{{ post.tweet }}"</em>
<br>
<form id="comment" action="{% url 'blog:quote_post' pk=post.pk %}" method="POST">
    {% csrf_token %}
    <div class="form-control">
    <input name="body" type="text" id="body" placeholder="your retweet">

    <p class="text-right"><button type="submit" class="btn btn-primary">POST.</button></p>
    </div>
</form>
{% endblock body %}